<div class="home-slides owl-carousel owl-theme">
    <div class="main-banner-three">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="banner-image">
                                <img src="assets/img/main-banner.png" alt="banner-img">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="hero-content">
                                <h1>Kami Adalah <span>Pest</span> <span>Controil</span> terbaik</h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dumm.</p>
                                <a routerLink="/contact" class="btn btn-primary">Get Started</a>
                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn">Play Now<i
                                        class="icofont-play-alt-3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-pattern-1"></div>
    </div>

</div>