<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Our News</span>
            <h3>Latest Blog Posts</h3>
            <p>We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of
                the industry.</p>
            <a routerLink="/blog-1" class="read-more-btn">View More News</a>
        </div>
        <div class="blog-slides owl-carousel owl-theme">
            <div class="single-blog-item bg-1">
                <span>Business & Tech</span>
                <h3><a routerLink="/blog-details">How to Market Your Marketing Agency in 2020</a></h3>
                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem
                    pretium semper lectus ac digni...</p>
                <a routerLink="/blog-details" title="Read More" class="link-btn"><i
                        class="icofont-stylish-right"></i></a>
            </div>

            <div class="single-blog-item bg-2">
                <span>Testing & Tools</span>
                <h3><a routerLink="/blog-details">15 Testing Tools for Optimizing Your Site in 2020</a></h3>
                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem
                    pretium semper lectus ac digni...</p>
                <a routerLink="/blog-details" title="Read More" class="link-btn"><i
                        class="icofont-stylish-right"></i></a>
            </div>

            <div class="single-blog-item bg-3">
                <span>User & Experience</span>
                <h3><a routerLink="/blog-details">12 Tried-and-True Ways to Improve User Experience</a></h3>
                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem
                    pretium semper lectus ac digni...</p>
                <a routerLink="/blog-details" title="Read More" class="link-btn"><i
                        class="icofont-stylish-right"></i></a>
            </div>

            <div class="single-blog-item bg-4">
                <span>Apps & Trend</span>
                <h3><a routerLink="/blog-details">The 13 Best Time Tracking Apps of 2020</a></h3>
                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem
                    pretium semper lectus ac digni...</p>
                <a routerLink="/blog-details" title="Read More" class="link-btn"><i
                        class="icofont-stylish-right"></i></a>
            </div>

            <div class="single-blog-item bg-5">
                <span>Business & Document</span>
                <h3><a routerLink="/blog-details">How to Document Processes to Scale Your Agency Faster</a></h3>
                <p>Fusce vitae nulla at lorem pret ium semper. Curab itur laoreet, lectus ac digni ssim vest ibul lorem
                    pretium semper lectus ac digni...</p>
                <a routerLink="/blog-details" title="Read More" class="link-btn"><i
                        class="icofont-stylish-right"></i></a>
            </div>
        </div>
    </div>
</section>