<app-slide></app-slide>
<app-mengapa></app-mengapa>

<section class="about-area ptb-100 bg-fbf9f8">
    <div class="container">
        <div class="about-inner-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="row about-image">
                        <div class="col-6 col-lg-6 col-md-6">
                            <div class="image">
                                <img src="assets/img/about-img1.jpg" alt="about">
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-md-6">
                            <div class="image">
                                <img src="assets/img/about-img2.jpg" alt="about">
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-md-6">
                            <div class="image mt-30">
                                <img src="assets/img/about-img3.jpg" alt="about">
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 col-md-6">
                            <div class="image mt-30">
                                <img src="assets/img/about-img4.jpg" alt="about">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="about-text">
                        <span>PT ETOS INDONUSA</span>
                        <h3>Lebih dari #25 Tahun</h3>
                        <p>We provide marketing services to startups and small businesses to looking for a partner of
                            their digital media, design & development, lead generation and communications requirents. We
                            work with you, not for you. Although we have a great resources.</p>
                        <p>We are an experienced and talented team of passionate consultants who live and breathe search
                            engine marketing</p>
                        <p>We have developed search strategies for leading brands to small and medium sized businesses
                            across many industries in the UK and worldwide.</p>
                        <a routerLink="/about" class="read-more-btn">View More About us.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rocket fadeInUp wow slow"><img src="assets/img/rocket.png" alt="rocket"></div>
    <div class="vector"><img src="assets/img/vector-bg.png" alt="vector"></div>
    <div class="circle-pattern-2"></div>
</section>


<section class="funfacts-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-users-alt-5"></i>
                    <p>Active Clients:</p>
                    <h3><span class="odometer" data-count="2150">00</span><span class="sign">+</span></h3>
                </div>
            </div>

            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-rocket-alt-2"></i>
                    <p>Success Rate:</p>
                    <h3><span class="odometer" data-count="86">00</span><span class="sign">%</span></h3>
                </div>
            </div>

            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-laptop-alt"></i>
                    <p>Projects Done:</p>
                    <h3><span class="odometer" data-count="550">00</span><span class="sign">+</span></h3>
                </div>
            </div>

            <div class="col-6 col-lg-3 col-sm-3 col-md-3">
                <div class="fun-fact">
                    <i class="icofont-award"></i>
                    <p>Awwards:</p>
                    <h3><span class="odometer" data-count="35">00</span><span class="sign">+</span></h3>
                </div>
            </div>
        </div>
    </div>
</section>

<app-news></app-news>