<section class="features-area-two ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Our features</span>
            <h3>Menagapa Kami</h3>
            <p>Kami menikmati mengadaptasi strategi kami untuk menawarkan setiap klien solusi terbaik yang berada di
                garis depan
                industri</p>
            <a routerLink="/about" class="read-more-btn">Read more</a>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features">
                    <i class="icofont-search-document"></i>
                    <h3>Lebih dari 25 tahun</h3>
                    <p>Start working with an company that provide everything you need to any</p>
                    <a routerLink="/services-details" class="read-more-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-features">
                    <i class="icofont-edit"></i>
                    <h3>Teknologi Terbaru</h3>
                    <p>Start working with an company that provide everything you need to any</p>
                    <a routerLink="/services-details" class="read-more-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-sm-3 offset-md-3">
                <div class="single-features">
                    <i class="icofont-laptop-alt"></i>
                    <h3>24 Daerah dan propinsi</h3>
                    <p>Start working with an company that provide everything you need to any</p>
                    <a routerLink="/services-details" class="read-more-btn">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>